
<% if current_user.try(:admin) %>
  <%= render 'restaurants/admin' %>

<% else %>

  <div class = "row">
    
      <% @meals.each do |r| %>
        <div class = "col-md-2">
          <div class = "rest-box">
            <%#= r.restaurant_name %>
            <%# r.meals.each do |meal| %>
              <%= image_tag r.meal_photo.url(:thumb) %>
            <%# end %>
          </div>
        </div>
      <% end %>
    
  </div>

<% end %>
