.space {
	height: 5em;
}

.rest-box {
	width: 24em;
	height: 30em;
	margin-bottom: 2em;
	//border: 1px solid black;

	img {
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	
}