<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :street_address %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :restaurant_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
